[Desktop Entry]
Encoding=UTF-8
Name=Link to A-STAR Pathfinding AI for HTML5 Canvas Games - Build New Games
Type=Link
URL=http://buildnewgames.com/astar/
Icon=text-html
